  <aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url-image(images/img_bg_1.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                <div class="slider-text-inner">
                  <h1>Remote Meetups</h1>
                  <h2>Join Meetups near your location or in the other side of the world.</h2>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url-image(images/img_bg_2.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                <div class="slider-text-inner">
                  <h1>Interviews</h1>
                  <h2>Watch interviews with people from the Open Source World.</h2>
                  <p><a class="btn btn-primary btn-lg btn-learn" href="https://www.youtube.com/playlist?list=PLeonCbPZMjh3a-PyBzqIh3t6ZTfpxPSB3">Watch now</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
  </aside>

  <div id="fh5co-counter" class="fh5co-counters fh5co-bg-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center animate-box">
          <span class="icon"><i class="fa fa-user"></i></span>
          <span class="fh5co-counter js-counter" data-from="0" data-to="1621" data-speed="1000" data-refresh-interval="100"></span>
          <span class="fh5co-counter-label">Subscribers</span>
        </div>
        <div class="col-md-6 text-center animate-box">
          <span class="icon"><i class="fa fa-comments"></i></span>
          <span class="fh5co-counter js-counter" data-from="0" data-to="17" data-speed="1000" data-refresh-interval="100"></span>
          <span class="fh5co-counter-label">Countries</span>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-practice" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>What we do</h2>
          <p>We help people establish Communities, Meetups, Interviews, and Lightning talks.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center animate-box">
          <div class="services">
            <span class="icon">
              <i class="fa fa-users"></i>
            </span>
            <div class="desc">
              <h3><a href="#">Meet People</a></h3>
              <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center animate-box">
          <div class="services">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <div class="desc">
              <h3><a href="#">Know More</a></h3>
              <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center animate-box">
          <div class="services">
            <span class="icon">
              <i class="fa fa-mortar-board"></i>
            </span>
            <div class="desc">
              <h3><a href="#">Stay relevant</a></h3>
              <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center animate-box">
          <div class="services">
            <span class="icon">
              <i class="fa fa-user-plus"></i>
            </span>
            <div class="desc">
              <h3><a href="#">Create a community</a></h3>
              <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center animate-box">
          <div class="services">
            <span class="icon">
              <i class="fa fa-bullhorn"></i>
            </span>
            <div class="desc">
              <h3><a href="#">Share knowledge</a></h3>
              <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center animate-box">
          <div class="services">
            <span class="icon">
              <i class="fa fa-space-shuttle"></i>
            </span>
            <div class="desc">
              <h3><a href="#">Get ahead</a></h3>
              <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-project">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Meetups</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="#"><%= image_tag("gopher.png", class: "img-responsive") %>
            <h3>Go</h3>
            <span>by GolangBridge</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="#"><%= image_tag("elixir.png", class: "img-responsive") %>
            <h3>Elixir</h3>
            <span>by Dailydrip</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="#"><%= image_tag("elm.png", class: "img-responsive") %>
            <h3>Elm</h3>
            <span>by DailyDrip</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="#"><%= image_tag("parisrb.png", class: "img-responsive") %>
            <h3>ParisRb</h3>
            <span>french ruby meetup</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="#"><%= image_tag("project-5.jpg", class: "img-responsive") %>
            <h3>Interviews</h3>
            <span>by Remote Meetup</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="#"><%= image_tag("ruby.png", class: "img-responsive") %>
            <h3>Ruby</h3>
            <span>by Remote Meetup</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-about">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Our Sponsors</h2>
          <p>These wonderful people keep us running and keep you connected </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>Bigmarker</h3>
            <strong class="role">Our main software to make meetups</strong>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>Hired.com</h3>
            <strong class="role">Managing Partner, Attorney</strong>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>Compose.io</h3>
            <strong class="role">Production Ready, Cloud Hosted</strong>
          </div>
        </div>

      </div>

      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Our Partners</h2>
          <p>People helping us</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>Dailydrip</h3>
            <strong class="role">Daily continuing education</strong>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>Greenruby</h3>
            <strong class="role">Awesome Ruby List</strong>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>ParisRb</h3>
            <strong class="role">Biggest Ruby Meetup in Europe</strong>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 text-center animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <%= image_tag("user-2.jpg") %>
            <h3>coala</h3>
            <strong class="role">Linting and Fixing Code for All Languages</strong>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="fh5co-started" style="background-image: url-image(images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Are you ready? Join us!</h2>
          <p>We help people to create Remote Meetups and to participate in a big community.</p>
        </div>
      </div>
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p><a href="http://remotemeetup.herokuapp.com/" class="btn btn-default btn-lg">Join our Slack channel</a></p>
        </div>
      </div>
    </div>
  </div>
  </div>
