<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <% stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Title -->
    <title>Remote Meetup</title>

    <!-- Character set -->
    <meta charset="UTF-8">

    <!-- Configure viewport for mobile / tabled devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Define keywords for search engines -->
    <meta name="keywords" content="Remote Talks, Remote Meetup, Remote Software developer community">

    <!-- Define a description of your web page -->
    <meta name="description" content="Remote Meetup">

    <!-- Shorcut icon -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74711531-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

  <div class="fh5co-loader"></div>

  <div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <div id="fh5co-logo"><a href="/">Remote Meetup<span>.</span></a></div>
          </div>
          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/meetups">Meetups</a></li>
              <li><a href="http://medium.com/remote-meetup" target="_blank">Blog</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <%= yield %>

  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small>
          </p>
          <p>
            <ul class="fh5co-social-icons">
              <li><a href="https://twitter.com/RemoteMeetup"><i class="icon-twitter"></i></a></li>
              <li><a href="http://facebook.com/RemoteMeetup"><i class="icon-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/10561058"><i class="icon-linkedin"></i></a></li>
              <li><a href="https://github.com/remotemeetup"><i class="icon-github"></i></a></li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>

  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.waypoints.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.stellar.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.flexslider-min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.countTo', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.magnific-popup.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'magnific-popup-options', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
